
.top-section{
    display:grid;
    grid-template-columns: repeat(13,1fr);
    background-color: black;
    padding: 5px;
}
#button-container{
    display:grid;
    grid-column: span 4;
    grid-template-columns: repeat(4,1fr);

}
#result-area{
    background-color: yellow;
    grid-column: span 4;
    grid-row: span 4;
    padding:10px;
}
#related-items{
    background-color: green;
    grid-column:span 4;
    grid-row: span 4;
}
button{
    grid-column: span 1;
    grid-row: span 1;
}

#reset{
    height:50px;
    padding:10px;
    margin: 10px;
}
